.windowbar {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.windowbar button {
  padding: 0;
  background: transparent;
  box-shadow: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 3px;

  &:hover {
    outline: none;
    border: none;
    background-color: #2e2e2e;
  }
}

.actionButtons {
  display: flex;
  gap: 15px;
}

.kaoriiContainer {
  padding-block: 4px 10px;
}
