.logo {
  width: 60px !important;
  height: 60px !important;
  pointer-events: none;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #133f06;
  object-fit: cover;
}

.container {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
